/***************************
    BODY START
***************************/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');
* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--fadeTo-Color);
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
    filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

hr {
    height: 6px;
    background-color: #fec92b;
    border: none;
}

.logo {
    width: 320px;
    width: 320px;
}

.Rynxd {
    width: 5%;
    background-color: var(--loadbar-progress-color);
    height: var(--loadbar-height);
    position: absolute;
    left: 10%;
}

#bg {
    -webkit-background-size: cover;
    background-size: cover;
}


/***************************
    BODY END
***************************/


/***************************
    FONT/TEXT START
***************************/

h1 {
    color: white;
    font-family: Poppins;
    font-weight: lighter;
}

h5 {
    font-family: Poppins;
    font-weight: lighter;
}

p {
    font-family: Poppins;
}


/***************************
    FONT/TEXT END
***************************/


/***************************
    CONTAINERS/BOX START
***************************/

#rulesbox {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    border: 5px solid var(--loadbar-progress-color);
    border-radius: 25px;
    position: absolute;
    background-color: var(--fadeTo-Color);
    top: 47%;
    left: 12.7%;
    height: 507px;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#serverinfobox {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    border: 5px solid #fec92b;
    border-radius: 25px;
    position: absolute;
    background-color: var(--fadeTo-Color);
    top: 47%;
    left: 87.3%;
    height: 507px;
    width: 400px;
    transform: translate(-50%, -50%);
    text-align: center;
}

#container {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    position: absolute;
    color: rgb(241, 235, 235);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    text-align: center;
}

#containerservertitle {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    position: absolute;
    color: rgb(241, 235, 235);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    text-align: center;
}

#servertext {
    top: 10.1%;
    left: 50%;
    transform: translate(-0%, -115%);
}

#containersongname {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    position: absolute;
    color: rgb(241, 235, 235);
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: center;
}

#containerloading {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    position: absolute;
    color: rgb(241, 235, 235);
    top: 92.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    text-align: center;
    width: 96.3%;
    background-color: var(--loadbar-color);
    height: var(--loadbar-height);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.30), 0 6px 12px 0 rgba(0, 0, 0, 0.30);
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 4px solid #fec92b;
    border-radius: 25px;
}

#containerloadingtext {
    text-shadow: 2px 2px 5px var(--fadeTo-Color);
    position: absolute;
    color: rgb(241, 235, 235);
    top: 93.89%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    text-align: center;
}

#discordlink {
    color: var(--footer-font-color);
    left: 0;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#websitelink {
    color: var(--footer-font-color);
    left: 0;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#ruletext {
    color: var(--footer-font-color);
    left: 0;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#rule1 {
    color: var(--footer-font-color);
    left: 0;
    bottom: 0;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

#bottom_nav {
    width: 90%;
    vertical-align: text-bottom;
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 9999;
}


/***************************
    CONTAINERS/BOX END
***************************/